*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: white;
    height: 5rem;

    /* Give same line-height as height it will goes at center */
    line-height: 5rem;
}

.choice{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 165px;
    width: 165px;
    border-radius: 50%;
}

img{
    height: 150px;
    width: 150px;

    /* to zoom in object */
    object-fit: cover;

    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;

    /* Spacing betn images */
    gap: 3rem;

    margin-top: 5rem;
}

.choice:hover{
    /* opacity: 0.5; */
    cursor: pointer;
    background-color: #081b31;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score , #comp-score{
    font-size: 4rem;
}

#msg{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    margin-top: 5rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

.msg-container{
    margin-top: 5rem;
}